
@{
    ViewBag.Title = "Detalle";
}

<style>
    #imgHuellaIdentificar:hover, #huellaResultado:hover, .glyphicon-remove:hover {
        opacity: 0.7;
    }

    .img {
        height: auto;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #huellaResultado {
        max-height: 277px;
        max-width: 182px;
    }

    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        tr:hover {
            background: #6dadf4;
        }

    tbody {
        height: 373px;
        overflow-y: auto;
    }

        tbody td {
            width: 50%;
            float: left;
            max-height: 300px;
        }

    td h4 {
        text-align: center;
        vertical-align: middle;
    }

    .clickable-row {
        cursor: pointer;
    }

    #detalleSospechoso {
        min-width: 521px;
        min-height: 392.6px;
    }
</style>

<h2>Resultados de búsqueda</h2>
<br />
<div class="container">
    <div id="huellaIdentificar" class="col-lg-6" style="border:2px solid #275e8d">
        <br />
        <div class="row">
            <a href="#" class="pop">
                <img id="imgHuellaIdentificar" class="img-responsive img" src="~/Content/Images/download.jpg" />
            </a>
        </div>
        <div class="row">
            <h3 align="center">Caso 33.1</h3>
        </div>
        <div class="row">
            <h4 align="center">Pulgar Izquierdo #3</h4>
        </div>
    </div>
    <div id="detalleSospechoso" class="col-lg-6" style="border: 2px solid #275e8d; display:none;">
        <br />
        <div class="row" style="text-align:right; padding-right:20px">
            <i id="close" class="glyphicon glyphicon-remove clickable-row" style="font-size:48px;color:#275e8d;" target="#listaSospechosos" self="#detalleSospechoso"></i>
        </div>
        <div class="row">
            <a href="#" class="pop">
                <img id="huellaResultado" class="img-responsive img" src="~/Content/Images/imgIndex.png" />
            </a>
        </div>
        <div class="row">
            <h4 align="center">[Nombre]</h4>
        </div>
        <div class="row">
            <h4 align="center">[Edad]</h4>
        </div>
        <div class="row">
            <h4 align="center">[Lugar de Origen]</h4>
        </div>
    </div>
    <div id="listaSospechosos" class="col-lg-6" style="border:2px solid #275e8d; display:block;">
        <table class="table" id="lista">
            <tbody>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td>
                        <h3>Juan Solis Armado</h3>
                    </td>
                    <td>
                        <h4 style="color:forestgreen">Valor de similitud: 4.35</h4>
                    </td>
                </tr>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td>
                        <h3>Rigoberto Andrade Matias</h3>
                    </td>
                    <td>
                        <h4 style="color:lawngreen">Valor de similitud: 4.00</h4>
                    </td>
                </tr>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td>
                        <h3>Brandon Alain Cruz Ruiz</h3>
                    </td>
                    <td>
                        <h4 style="color:yellowgreen">Valor de similitud: 3.45</h4>
                    </td>
                </tr>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td colspan="4">
                        <h3>Juan Solis</h3>
                    </td>
                    <td colspan="12">
                        <h4 style="color: #b0a21c">Valor de similitud: 3.00</h4>
                    </td>
                </tr>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td>
                        <h3>Mario Lagunes Nava</h3>
                    </td>
                    <td>
                        <h4 style="color:orange">Valor de similitud: 2.48</h4>
                    </td>
                </tr>
                <tr class='clickable-row' target="#detalleSospechoso" self="#listaSospechosos">
                    <td>
                        <h3>Oscar Allan Ruiz Toledo</h3>
                    </td>
                    <td>
                        <h4 style="color:red">Valor de similitud: 1.26</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" style="padding-top:10px">
    <div class="row">
        <div class="col-md-6 text-center">
            <button id="GuardarResultados" data-toggle="modal" data-target="#guardarIdentificacion" class="btn btn-primary">Guardar resultados</button>

        </div>
        <div class="col-md-6 text-center">
            <button id="NuevaIdentificacion" class="btn btn-primary">Nueva identificación</button>
        </div>
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="guardarIdentificacion" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¿Deseas guardar los resultados?</h4>
            </div>
            <div class="modal-body">
                <p>Se descontarán 30 créditos de tu cuenta.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" href="/home/Historial">Aceptar</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#lista tr').click(function () {
            var target = $(this).attr("target");
            var self = $(this).attr("self");
            $(target).show();
            $(self).hide();
        });
    });

    $(document).ready(function () {
        $('#close').click(function () {
            var target = $(this).attr("target");
            var self = $(this).attr("self");
            $(target).show();
            $(self).hide();
        });
    });

    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>

