@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="container-md">
        <button class="btn-impr">Subir archivo JPG</button>
    </div>
    <div class="container-md">
        <button class="btn-impr">Conectar escaner</button>
    </div>
</div>
