@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 style="color:steelblue; text-align:center">Sistema automatizado de identificación de huellas</h1>
</div>

<div class="container">
    <h2 style="text-align:center;font-family:'Footlight MT'">Identificación de huellas latentes e impresiones</h2>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="align-items:center">
            <img class="img-responsive" src="~/Content/Images/imgIndex.png" style="width:100%" />
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-rounded" style="background-color:steelblue; color:white;">
        <h3 style="text-align:center">Realizar identificación de huella latente</h3>
        <br />
        <p style="text-align:center"><i class="fa fa-cloud-download" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
    <div class="col-md-4 img-rounded" style="background-color:darkgray; color:steelblue;">
        <h3 style="text-align:center">Realizar identificación de huella de impresión</h3>
        <br />
        <p style="text-align:center"><i class="fa fa-cloud-upload" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
    <div class="col-md-4 img-rounded" style="background-color:deepskyblue; color:white;">
        <h3 style="text-align:center">Ver resultados</h3>
        <br />
        <p style="text-align:center"><i class="fa fa-cloud-download" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
</div>