@{
    ViewBag.Title = "Index";
}
<style>
    .img {
        position: relative;
        width: 100px;
        height: 100px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .row {
        overflow: hidden;
    }

    [class*="col-md-4 img-rounded"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
</style>

<div class="container">
    <h2 style="text-align:center;font-family:'Footlight MT'">Identificación de huellas latentes e impresiones</h2>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="align-items:center">
            <img class="img-responsive img" src="~/Content/Images/imgIndex.png" />
        </div>
        <div class="col-md-4"></div>
    </div>
    <h2 style="text-align:center;font-family:'Footlight MT'">Selecciona una opción:</h2>
</div>

<div class="row">
    <div class="col-md-4 img-rounded" style="background-color:steelblue; color:white;">
        <h3 style="text-align:center">Realizar identificación de huella latente</h3>
        <br />
        <p style="text-align:center"><i class="glyphicon glyphicon-hdd" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
    <div class="col-md-4 img-rounded" style="background-color:darkgray; color:steelblue;">
        <h3 style="text-align:center">Realizar identificación de huella de impresión</h3>
        <br />
        <p style="text-align:center"><i class="glyphicon glyphicon-cloud-upload" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
    <div class="col-md-4 img-rounded" style="background-color:deepskyblue; color:white;">
        <h3 style="text-align:center">Ver información de mi cuenta e historial</h3>
        <br />
        <p style="text-align:center"><i class="glyphicon glyphicon-time" style="font-size:48px;color:white"></i></p>
        <p style="text-align:center"><a class="btn input-block-level form-control">Iniciar</a></p>
    </div>
</div>